.container {
  display: flex;
  flex-direction: column;
}

.calc-container {
  display: grid;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
  grid-template-columns: repeat(4, 150px);
  grid-template-rows: minmax(120px, auto) repeat(5, 150px);
}

.calc-container > button {
  font-size: 2rem;
  border: 1px solid grey;
  outline: none;
  background-color: rgba(255, 255, 255, 0.5);
}

.calc-container > button:hover {
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
}

#clear:hover {
  background-color: #b22222;
}
.span-two {
  grid-column: span 2;
}

.display {
  grid-column: 1/-1;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
  padding: 10px;
  word-wrap: break-word;
  word-break: break-all;
}

.display .previous-operand {
  color: rgba(255, 255, 255, 0.75);
  font-size: 1.5rem;
}

.display .current-operand {
  color: white;
  font-size: 2.5rem;
}
.row {
  display: flex;
  justify-content: center;
  margin: 3px;
}

.btn {
  text-align: center;

  border: 1px solid black;
  padding-top: 15px;
  height: 55px;
  width: 70px;
  margin: 0 3px;
  border-radius: 50%;
  font-size: 2rem;
}

.btn-operation {
  background-color: #00008b;
  color: #f5fffa;
}

#equals {
  background-color: #b22222;
}
